<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='home_styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charge-3</title>
</head>
<body>
    <div id="left">
        <div id="title">Charge-3</div>
    <div>
        <br>
        <h1> What is Charge-3?</h1>
        <p style="font-size:29px" >
            Charge-3 is a music recomandtion app based on spotify api
            that can genreate you a playlist based on your faviorite artists
            and it's safe, easy to use and accessable 
        </p>
        <br>
        <h1>how to use?</h1>
        <p style="font-size:29px" >
           you just need to connect to your spotify
           read what's Charge-3 can access from your account
           accept the terms, and you're good to go 
        </p>
        
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="buttons">
        <form class="button" action="/login" method="GET">
            <input class="myButton" type="submit" value="connect to spotify" 
                name="Submit" id="frm1_submit"/>
        </form>
        <form class="button" action="/about" method="GET">
            <input class="myButton" type="submit" value="About" 
                name="Submit" id="frm1_submit"/>
        </form>
    </div>
    </div>
    <div id="right"></div>
    <div id="img"><img src={{ image_file }} ></div>
</body>
</html>