<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <img src="" alt="">
    <input type="search">
    <h1>Username: {{ username }}</h1>
    <h1>spotify profile: {{ profile_url }}</h1>
    <h1>Followers: {{ followers }}</h1>
    <h1> Tracks </h1>
    <h1>current: 
        {{ current }}
    </h1>

    <form action="/logout" method="GET">
        <input id="button" type="submit" value="Log out" name="Submit" id="frm1_submit"/>
    </form>
</body>
</html>
